<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.it">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IT융합응용공학과">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity2" android:label="교수진 소개">
        </activity>
        <activity android:name="activity3" android:label="학생 커뮤니티">
        </activity>
        <activity android:name="activity4" android:label="학생 커뮤니티 소속학생">
        </activity>
        <activity android:name="activity5" android:label="공지사항">
        </activity>
    </application>

</manifest>